@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */

body {
  @apply bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-gray-100;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(112, 185, 76, 1);
  border-radius: 5px;
}
